.sidebar{
    width: 200px;
    height: 100%;
    background: "#1e1e1e";
    color: "#fff", 
}

.button{
    text-align: center;
}

.textSeparator{
    background: rgba(3, 9, 83, 0.336);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 24px;
}